body {
  font-family: "Arial","Meiryo",sans-serif;
  font-size: 1.25rem;
  text-align: center;
}

.blue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}

h1 { 
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;;
  font-size: 2rem;
 letter-spacing: 1.2em;
  text-shadow: 2px 2px 4px gray;
  border-bottom: 3px solid rgb(115, 115, 114);
}

#basic p {
  font-weight:bold ;
}
